.header {
    background-color:white ;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: space-between;
}
.content{
    margin-top: 10%;
}

.category{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5%;
    border: 1px solid black;
}